#divPrincipal {
    background-color: cornflowerblue;
    position: absolute;
    width: 30%;
    height: 20%;
    top: 40%;
    left: 35%;
    display: grid;
    align-items: center;
}

#botao1 {
    height: 30px;
    font-size: 22px;
}

#text1 {
    height: 34px;
    font-size: 26px;
}